html,
body,
#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #1E1B1C;
}

button {
    margin-top: 12px;
    color: white;
    background: #CFB53B;
    border: 0;
    outline: 0;
    border-radius: 2px;

    padding: 12px;
    transition: .5s ease-in-out;
    font-size: 16px;
}

button:hover {
    background: #721b1b;
    border: 1px solid #721b1b;
    color: #fff;
}